.btnDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
button{
    border: none;
    background-color: tomato;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: brown;
}

@media (max-width: 780px){
    .btnDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 5px;

    }


}

@media (max-width: 375px) {

    .tituloContador{
        font-size: 50px;
    }
    .numeroContador{ 
        font-size: 50px;
    }

    .btnDiv{
        display: flex;
        flex-direction: column;
        margin: 3px;



    }
    button{
        padding: 10px 20px;
        margin: 10px;
       



    }

}

